#image{
    cursor: pointer;
    margin-bottom: 20px;
}

@keyframes bannermove {
 0% {
    left: 0px;
 }
 100% {
   left: 2455px;
 }
 
}
.r{
  display:flex;
  text-align: right;
}
#img{
  width:1100px;
  height:600px;
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
h3{
  color:#f47321;
}
@-webkit-keyframes example {
  from {left: 300px;}
  to {left: 1000px; }
}

@keyframes example {
  from {left: 300px;}
  to {left: 1000px; }
}
#header{
  background-color:#f47321; 
}
#link{
  color:white !important;
}
h4{
  color: blue;
  font-weight: bolder;
}